@model IEnumerable<Kast.Models.Dnd5E.Equipment>

<link href="~/Content/Style.css" rel="stylesheet">

<div class="Dnd5Border">
    <h3 style="text-align: center">Equipment</h3>
    @foreach (var equipment in Model.Where(x => !x.Magical))
    {
        <p>@equipment.Name</p>
    }

    @foreach (var equipment in Model.Where(x => x.Magical))
    {
        <div style="color:goldenrod">
            <p> @equipment.Name.ToUpper() </p>
        </div>
        
    }
</div>
