@model IEnumerable<Kast.Models.DnD5E.Character>

@{
    var WizzardSpells = Model.First().GetWizzardSpellByLevel(1);
    var ClaricSpells = Model.First().GetClericSpellByLevel(1);
    var spellSlots = Model.First().GetSpellSlotByLevel(1);

<div class="Dnd5Border">

    @for (var i = 0; i < spellSlots; i++)
    {
        <i class="fa fa-circle-o" style="font-size: 16px;"></i>
    }

    <h1>Level 1 spell</h1>
    @foreach (var spell in WizzardSpells)
    {
        var color = "color:DarkRed";
        <div style=@color>
            <p>
                <i class="fa fa-circle-o" style="font-size: 16px;"></i>
                @spell.Name
            </p>
        </div>
    }
    @foreach (var spell in ClaricSpells)
    {
        var color = "color:Blue";
        <div style=@color>
            <p>
                <i class="fa fa-circle-o" style="font-size: 16px;"></i>
                @spell.Name
            </p>
        </div>
    }
</div>
}