@model IEnumerable<Kast.Models.DnD5E.Character>

<div class="Dnd5Border">
    <h3 style="text-align: center">Weapon, Armor and Tools profiencies</h3>
    @foreach (var prof in Model.First().ArmorToolAndWeaponProf)
    {
        <p>@prof</p>
    }
</div>
