@model IEnumerable<Kast.Models.DnD5E.Character>

<div class="Dnd5Border">
    <h1>Cantrips</h1>
    @foreach (var spell in Model.First().GetWizzardSpellByLevel(0))
    {
        <p>@spell.Name</p>
    }
</div>