@model IEnumerable<Kast.Models.Topic>

<html>
<head>
    <style>
        div.blocks {
            background: #FFFFFF;
            margin: 0px;
            margin-right: 14px;
            margin-bottom: 14px;
            border: 1px solid #E8E8E8;
            height: 210px;
            width: 230px;
            float: left;
            text-align: center;
            box-shadow: 3px 3px 5px #888888;
            cursor: pointer;
        }

        div.blockText {
            margin-top: 5px;
            width: 220px;
            height: 50px;
            color: #A80000;
            font-family: oblique;
            font-size: 21px;
            text-decoration: none;
        }

        div.grid {
            margin-right: 10%;
            margin-left: 10%;
        }
    </style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KaSt</title>

</head>
<body>
    <div class="grid">
        @foreach (var topic in Model)
        {
            <a href=http://localhost:53087/@topic.pageRedirector.GetUrl()>
                <div class="blocks">
                        <img src=@topic.ThumnailImageUrl style="margin:7px 0px" width="150" height="150">
                    <div class="blockText">@topic.Name</div>
                </div>
            </a>
        }
    </div>
</body>
</html>