@model IEnumerable<Kast.Models.Topic>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KaSt</title>

</head>
<body>
    <h1>Whelcome to KaSt.dk</h1>
    @foreach (var topic in Model)
    {
        <div>
            <h2>@topic.Name</h2>
            <img src=@topic.ThumnailImageUrl alt="Mountain View">
            <h2>@topic.ControllerName/@topic.ActionName</h2>
        </div>
    }
</body>
</html>